<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://csvmprovisionnanyang.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e31da928-53df-4a6d-bcbc-474003cd2859/resourceGroups/CS-CLOUDLABS-NANYANG-P-RG/providers/Microsoft.Web/sites/csvmprovisionnanyang</ResourceId>
    <UserName>$csvmprovisionnanyang</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://csvmprovisionnanyang.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>