<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvmprovisionmyedu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/18352b40-dd53-4bbb-9397-23b504071be3/resourceGroups/CS-FA-MyE-VMProvision/providers/Microsoft.Web/sites/csvmprovisionmyedu</ResourceId>
    <UserName>$csvmprovisionmyedu</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csvmprovisionmyedu.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>