<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvmprovisionice-i.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8cb891ae-621a-4eb1-9c50-11c2bc165562/resourceGroups/CS-FA-ICEI-VMProvision/providers/Microsoft.Web/sites/csvmprovisionice-i</ResourceId>
    <UserName>$csvmprovisionice-i</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csvmprovisionice-i.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>