<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvmprovisiongo1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/432a3acd-bccb-4844-9899-bb02999012ad/resourceGroups/CS-FA-GO1-VMProvision/providers/Microsoft.Web/sites/csvmprovisiongo1</ResourceId>
    <UserName>$csvmprovisiongo1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csvmprovisiongo1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>