<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvmprovisionfluk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5c2c9b49-a907-4cc5-a034-0b4a6c8c0218/resourceGroups/CS-FA-FL-VMProvision/providers/Microsoft.Web/sites/csvmprovisionfluk</ResourceId>
    <UserName>$csvmprovisionfluk</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csvmprovisionfluk.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>