<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvmprovisiondict.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cf40fae2-2893-49a7-9a77-4a82070f8f14/resourceGroups/CS-FA-DICT-VMProvision/providers/Microsoft.Web/sites/csvmprovisiondict</ResourceId>
    <UserName>$csvmprovisiondict</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csvmprovisiondict.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>