<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://csvmprovisiontelkom.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0fc99a72-8a0b-4be6-b72a-c82369565346/resourcegroups/CS-Telkom-Provision/providers/Microsoft.Web/sites/csvmprovisiontelkom</ResourceId>
    <UserName>$csvmprovisiontelkom</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://csvmprovisiontelkom.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>