<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://csvmprovisionmmsu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/12f7eab6-203a-4f5a-b6e6-0487b409c252/resourceGroups/CS-MMSUN-P-RGRP/providers/Microsoft.Web/sites/csvmprovisionmmsu</ResourceId>
    <UserName>$csvmprovisionmmsu</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://csvmprovisionmmsu.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>