<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvmprovisionbinus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ec1f2ce1-0089-4251-868d-b84f2c1d8318/resourceGroups/CS-LABS-RG/providers/Microsoft.Web/sites/csvmprovisionbinus</ResourceId>
    <UserName>$csvmprovisionbinus</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csvmprovisionbinus.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>