<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvmprovisiondev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/19376908-9c8d-4fa9-815f-13f80d86e944/resourceGroups/CS-FA-D-VMProvision/providers/Microsoft.Web/sites/csvmprovisiondev</ResourceId>
    <UserName>$csvmprovisiondev</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://csvmprovisiondev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>