<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvmprovisionucc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/11101b2c-00e1-4818-a567-d74af48c1bbc/resourceGroups/CS-FA-UCC-VMProvision/providers/Microsoft.Web/sites/csvmprovisionucc</ResourceId>
    <UserName>$csvmprovisionucc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csvmprovisionucc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>