<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csvmprovisionqa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2d553aa7-eebf-41ff-82d7-efebd5dace9b/resourceGroups/CS-FA-Q-VMProvision/providers/Microsoft.Web/sites/csvmprovisionqa</ResourceId>
    <UserName>$csvmprovisionqa</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://csvmprovisionqa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>