<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://csvmprovisionwestbourne.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b9e57cf0-ab07-4114-909f-feaf20398465/resourceGroups/csvmprovisionlithan_group/providers/Microsoft.Web/sites/csvmprovisionwestbourne</ResourceId>
    <UserName>$csvmprovisionwestbourne</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csvmprovisionwestbourne.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>